@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
}


/*
Color palette:
    rgb(0, 48, 73)
    rgb(214, 40, 40)
    rgb(247, 127, 0)
    rgb(252, 191, 73)
    rgb(234, 226, 183)
*/

body,
html {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    color: rgb(234, 226, 183, 1);
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 10rem;
    }
    h2 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
}

main {
    width: 100%;
}

section {
    scroll-snap-align: start;
}

.unscrollable-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* Ecnourage CSS */

.welcome-bg {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url("../img/backgrounds/360542-programming-language-hd-wallpaper.jpg");
}

.cosmos-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../img/backgrounds/3315207.jpg");
}

.mountains-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../img/backgrounds/108881-simple-nature-wallpaper-top-free-simple-nature-background.jpg");
}

.navbar {
    justify-content: center;
    list-style: none;
    display: none;
    text-align: center;
    align-items: center;
    float: right;
}

.transparent-navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-icon {
    font-size: 2rem;
}

.center {
    text-align: center;
}

.welcome-view .center {
    padding-top: 30vh;
}

#greeting {
    color: rgb(214, 40, 40);
}

.affirmation-view {
    overflow-y: hidden;
}

.affirmation-view .center {
    padding-top: 25vh;
}

.affirmation-view p {
    padding-top: 1em;
    font-size: 2rem;
}

.affirmation-view button {
    font-size: 200%;
    font-weight: bold;
    color: white;
    background-color: purple;
}

#wish {
    /*color: rgb(247, 127, 0);*/
    background-image: linear-gradient(to right, black, rgb(141, 43, 43));
}

.footer ul {
    list-style: none;
}

.footer .center {
    padding-top: 25vh;
}

.footer ul li::before {
    content: "\2022";
    /* unicode for bullet */
    color: rgb(0, 245, 20);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* Start CSS */

.start-bg {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url("../img/backgrounds/teahubio-nature-background.png");
    background-size: 100%;
    height: 100vh;
}

.name-form form {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.name-form .center {
    padding-top: 45vh;
}

.name-form input {
    text-align: center;
    margin-bottom: 10px;
}

.name-form .btn {
    background-color: rgb(4, 61, 6);
    color: white;
}